<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Cadastre-se</title>


    <div class="container_form">
        <h1>Formulário de Cadastro</h1>
        <form class="form" action="#" method="post">

            <div class="form_grupo">
                <label for="nome" class="form_label">Nome</label>
                <input type="text" name="nome" class="form_input" id="nome" placeholder="Nome" required>
            </div>

            <div class="form_grupo">
                <label for="e-mail" class="form_label">Email</label>
                <input type="email" name="email" class="form_input" id="email" placeholder="seuemail@email.com" required>
            </div>

            <div class="form_grupo">
                <label for="phone" class="form_label">Telefone</label>
                <input type="number" name="phone" class="form_input" id="phone" placeholder="+55 (69)999999999" required>
            </div>

            <div class="form_grupo">
                <script>
                    function limpa_formulário_cep() {
                        //Limpa valores do formulário de cep.
                        document.getElementById('rua').value = ("");
                        document.getElementById('bairro').value = ("");
                        document.getElementById('cidade').value = ("");
                        document.getElementById('uf').value = ("");
                        document.getElementById('ibge').value = ("");
                    }

                    function meu_callback(conteudo) {
                        if (!("erro" in conteudo)) {
                            //Atualiza os campos com os valores.
                            document.getElementById('rua').value = (conteudo.logradouro);
                            document.getElementById('bairro').value = (conteudo.bairro);
                            document.getElementById('cidade').value = (conteudo.localidade);
                            document.getElementById('uf').value = (conteudo.uf);
                            document.getElementById('ibge').value = (conteudo.ibge);
                        } //end if.
                        else {
                            //CEP não Encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    }

                    function pesquisacep(valor) {

                        //Nova variável "cep" somente com dígitos.
                        var cep = valor.replace(/\D/g, '');

                        //Verifica se campo cep possui valor informado.
                        if (cep != "") {

                            //Expressão regular para validar o CEP.
                            var validacep = /^[0-9]{8}$/;

                            //Valida o formato do CEP.
                            if (validacep.test(cep)) {

                                //Preenche os campos com "..." enquanto consulta webservice.
                                document.getElementById('rua').value = "...";
                                document.getElementById('bairro').value = "...";
                                document.getElementById('cidade').value = "...";
                                document.getElementById('uf').value = "...";
                                document.getElementById('ibge').value = "...";

                                //Cria um elemento javascript.
                                var script = document.createElement('script');

                                //Sincroniza com o callback.
                                script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                                //Insere script no documento e carrega o conteúdo.
                                document.body.appendChild(script);

                            } //end if.
                            else {
                                //cep é inválido.
                                limpa_formulário_cep();
                                alert("Formato de CEP inválido.");
                            }
                        } //end if.
                        else {
                            //cep sem valor, limpa formulário.
                            limpa_formulário_cep();
                        }
                    };
                </script>
</head>

<body>
    <!-- Inicio do formulario -->
    <form method="get" action=".">
        <label>Cep:
        <input name="cep" type="text" id="cep" value="" size="10" maxlength="9"
               onblur="pesquisacep(this.value);" /></label><br />
        <label>Rua:
        <input name="rua" type="text" id="rua" size="60" /></label><br />
        <label>Bairro:
        <input name="bairro" type="text" id="bairro" size="40" /></label><br />
        <label>Cidade:
        <input name="cidade" type="text" id="cidade" size="40" /></label><br />
        <label>Estado:
        <input name="uf" type="text" id="uf" size="2" /></label><br />
        <label>IBGE:
        <input name="ibge" type="text" id="ibge" size="8" /></label><br />
    </form>
    </div>

    <div class="form_grupo">
        <label for="datanascimento" class="form_label">Data de Nascimento</label>
        <input type="date" name="datanascimento" class="form_input" id="datanascimento" placeholder="Data de Nascimento" required>
    </div>
    <div class="form_grupo">

        <label for="estadocivil" class="text">Estado civil</label>
        <select name="estadocivil" class="dropdown" required>
                
                <option selected disabled class="form_select_option" value="">Selecione</option>
                <option value="Solteiro" class="form_select_option">Solteiro(a)</option>
                <option value="Casado" class="form_select_option">Casado(a) </option>
                <option value="Divorciado" class="form_select_option">Divorciado(a)</option>                    
                <option value="Viúvo" class="form_select_option">Viúvo(a)</option>                    
            
            </select>
    </div>

    <div class="form_grupo">

        <label for="estadocivil" class="text">Identidade de Gênero</label>
        <select name="estadocivil" class="dropdown" required>
                
                <option selected disabled class="form_select_option" value="">Selecione</option>
                <option value="Mulher Cisgênero" class="form_select_option">Mulher Cisgênero</option>
                <option value="Mulher Transgênero" class="form_select_option">Mulher Transgênero </option>
                <option value="Homem Cisgênero" class="form_select_option">Homem Cisgênero</option>
                <option value="Homem Transgênero" class="form_select_option">Homem Transgênero </option>
                <option value="Gênero Não-Binário" class="form_select_option">Gênero Não-Binário</option>
                <option value="Agênero" class="form_select_option">Agênero </option>
                
            </select>
    </div>

    <div class="form_grupo">

        <label for="estadocivil" class="text">Orientação Sexual</label>
        <select name="estadocivil" class="dropdown" required>
                
                <option selected disabled class="form_select_option" value="">Selecione</option>
                <option value="Heterossexual" class="form_select_option">Heterossexual</option>
                <option value="Homossexual" class="form_select_option">Homossexual </option>
                <option value="Bissexual" class="form_select_option">Bissexual</option>                    
                <option value="Pansexual" class="form_select_option">Pansexual</option>                    
            
            </select>
    </div>




    <div class="submit">
        <input type="hidden" name="acao" value="enviar">
        <button type="submit" name="Submit" class="submit_btn">Cadastrar</button>

    </div>
    </form>
    </div>
    <!--container_form-->