<!DOCTYPE html>

<html lang="pt-br">

<head>
    <body>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Cadastre-se</title>


    <div class="container_form">
        <h1>Formulário de Cadastro</h1>
        <form class="form" action="#" method="post">

            <div class="form_grupo">
                <label for="nome" class="form_label">Nome</label>
                <input type="text" name="nome" class="form_input" id="nome" placeholder="Nome" required>
            </div>
            <div class="form_grupo">
                <label for="cpf" class="form_label">CPF</label>
                <input type="number" name="cpf" class="form_input" id="cpf" placeholder="000.000.000-00" required>
            </div>

            <div class="form_grupo">
                <label for="e-mail" class="form_label">E-mail</label>
                <input type="email" name="email" class="form_input" id="email" placeholder="seuemail@email.com" required>
            </div>

            <div class="form_grupo">
                <label for="phone" class="form_label">Telefone</label>
                <input type="number" name="phone" class="form_input" id="phone" placeholder="(69)999999999" required>
            </div>
            <div class="form_grupo">
                <label for="datanascimento" class="form_label">Data de Nascimento</label>
                <input type="date" name="datanascimento" class="form_input" id="datanascimento" placeholder="Data de Nascimento" required>
            </div>
            <div class="submit">
                <input type="hidden" name="acao" value="enviar">
                <button type="submit" name="Submit" class="submit_btn">Cadastrar</button>
        
            </div>
        </head>
    </body>