<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="HomePage" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/YanBoldrini1998/Loja_shop/blob/04f20b2451a6eb94930a53226c0533bd4dad40d4/Views/camisas.html">Camisas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Acessorios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
</ul>
<h1>list Produtos</h1>
</body>
</html>